body {
    background-color: #f9f9f9;
    font-family: Montserrat-Regular, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0px;
    position: absolute;
}
.content {
    /*border: 1px solid #36383F;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* css stop watch */
.mobile-bottom-watch {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    background-color: #fff;
}
.controls {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 75px;
}

.button {
    color: lime;
    font-size: 5vw;
    margin: 0 0.5em;
    text-decoration: none;
}


.button:hover {
    color: lime;
}

.stopwatch {
    font-size: 5vw;
    line-height: 5vh;
}

.results {
    border-color: lime;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* css nav */
.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: flex;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    background-color: #fff;
}
.mobile-bottom-nav__item {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-bottom-nav__item-content {
    display: flex;
    flex-direction: column;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.first {
    font-size: 3rem;
    color: #c2185b;
}
.secoundary {
    color: black;
    font-size: 1rem;
}
#timer{
    font-size: 2rem;
    color: #c2185b;
}
/* css nav */
/* body */
.box{
    margin: auto;
    margin-bottom: 1vw;
    margin-top: 2vw;
    width: 80%;
    border-radius: 7px;
    border: 1px solid black;

}
.box:last-child {
    margin-bottom: 58px;
}
.inbox{
    overflow:hidden;
}
/* onderline */
.marker {
    color: #3273DC;
}
/* to DO */
#doBtn {
    position: fixed;
    bottom: 65px;
    right: 1em;
}
.greenbtn {
    color: green;

}
.fa-plus-circle {
    font-size: 2.5em;
}
/* dailyoefeningen */
#cardio {
    background-image: url("../img/lopen.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


}
.fotos{
    width: 80vw;
    margin: auto;
}
li:last-child {
    margin-bottom: 49px;
}
.khat{
    margin-bottom: 1.2rem;
}
.orange{
    background-color: darkorange;
}
.green{
    background-color: forestgreen;
}
.yellow{
    background-color: yellow;
}
.btn-hide{
    color: black;
    border: none;
    background-color: inherit;
}
table{
    width: 100%;
}
/*.add-to-do{*/
/*    position: fixed;*/
/*    bottom: 70px;*/
/*    color: #4162f6;*/
/*}*/
#input{
    width: 100%;
}
.item{
    width:95%;
    min-height: 65px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: auto;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);

}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    max-width:285px;
}
.item:first-child{
    margin-top: 20px;
}
.lineThrough{
    text-decoration: line-through;
    color : black;
}
.red{
    color: red;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.content ul{
    padding:0;
    margin:0;
}
.add-to-do input{
    background-color: transparent;
    border: 1px solid blue;
    font-size: 20px;
    width: 27vw;
}
#result{
    color: red;
}
.yellowgredient {
    background-image: linear-gradient( 105.8deg,  rgba(258,225,64,1) 11%, rgba(251,245,167,0.98) 121.7% );
}
.soda{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}
.yellowbakground{
    background-color: #FFFEE9;

}
.todoAdd{
    position: fixed;
    bottom: 50px;
    color: #4162f6;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: black 1px solid;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*/////////////////////////////////////////////////////////////////[ FONT ]*/

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

/*--------------------------------------------------------------*/
/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

/*---------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
    width: 100%;
    min-height: 100%;
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-contact1 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);

    /*padding: 90px 130px 88px 148px;*/
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
    width: 390px;
}

.contact1-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}
input.input1 + .shadow-input1 {
    border-radius: 25px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
    border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
}

.input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn i {
    margin-left: 7px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/
.container-contact1 {
    padding: 40px 15px 40px 15px;
    margin-bottom: 50px;
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}
#three{
    display: none;
}
#two{
    display: none;
}
#four{
    display: none;
}